[Unit]
Description=get_items.js
After=network.target

[Service]
EnvironmentFile=/opt/spire-pricing/.env
WorkingDirectory=/opt/spire-pricing/
ExecStart=/usr/bin/node /opt/spire-pricing/get_items.js
StandardOutput=file:/var/log/spire-pricing/get_items.log
StandardError=file:/var/log/spire-pricing/error.get_items.log
ExecStartPost=/usr/bin/systemctl restart lifetimes.service
Type=simple

[Install]
WantedBy=multi-user.target
