[Unit]
Description=weekly_sales.js
After=network.target

[Service]
EnvironmentFile=/opt/spinv-backend/.env
WorkingDirectory=/opt/spire-pricing/
ExecStart=/usr/bin/node /opt/spire-pricing/weekly_sales.js
StandardOutput=file:/var/log/spire-pricing/weekly_sales.log
StandardError=file:/var/log/spire-pricing/weekly_sales.error.log
Type=simple

[Install]
WantedBy=multi-user.target
